@model BooksOnLoan.Models.Transactions

@{
    ViewData["Title"] = "Members Administration";
}

<h1>Members Administration</h1>

 <component type="typeof(MembersRazor)" render-mode="ServerPrerendered" />
 