@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BCIT Book Loans Basic Site </h1>
    <h3 class="display-2">Laura Gonzalez</h3>
    <h3 class="display-2">ID: A00568214</h3>
</div>
