@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">BCIT Book Loans Basic Site </h1>
    <h3 class="display-7">Laura Gonzalez </h3>
    <h3 class="display-7">ID: A00568214</h3>
</div>

@* <component type="typeof(MembersRazor)" render-mode="ServerPrerendered" />  *@

